@import "registrations";
@import "accounts";


.container {

  height: 100%;
  background-color: #ffffff;
}

.imag {
  width: 100%;
  border-bottom-color:#f8f8f8;
  background-color: #fff;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group label {
  display: block;
  text-align: left;
  font-size: 11px;
  font-family: Poppins Medium;
  color: #979797;
  margin-top: 20px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: transparent;
  
}

input:focus {
  border-bottom: 2px solid #333;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #FFE600;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 100px;
}

.submit-btn:hover {
  background: #ffcc00;
}
