.user-name {
    font-size: 16px;
    font-family: Poppins Medium;
    color: black;
    text-decoration: none; /* 下線を消す場合 */
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    padding-top: 30px;
}

